body{
  box-sizing: border-box;
  background-color: #58646e;
}
.boxes{
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
  width: 255px;
}
.box-style{
  border: 1px solid black;
  height: 85px;
  text-align: center;
  width: 85px;
}
.symbol-style{
  font-size: 60px;
}
#status-info{
  font-size: 37px;
  margin-top: 59px;
  visibility: hidden;
  animation: color-change 2s infinite;
}
@keyframes color-change {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    100% { color: yellow; }
}
